@import url("../../default/header-footer.css");

/* MAIN */

main {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.item {
    display: grid;
    grid-template-columns: 40vw 50vw;
    align-content: space-between;
    justify-content: space-between;
}
#foto {
    grid-column: 1/2;
    margin-left: 9vw;
    align-content: center;
    justify-content: center;
}
#descricao {
    grid-column: 2/3;
    margin-top: 30px;
    margin-right: 20vw;
    text-align: justify;
    align-content: center;
    justify-content: center;
}
#preco {
    text-align: right;
}
button {
    position: relative;
    left: 350px; 
}