@import url("../default/header-footer.css");

body, main {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

main h3 {
   margin: 15px 0;
}

main p, main ul {
   text-align: justify;
   margin: 20px;
}
